{{>layouts/header}}
<form action="">
    <input type="text">
    <textarea></textarea>
    <button type="submit">제출 </button>

</form>
<div style ="margin-left: 3rem; margin-right: 3rem;">
    <form action ="/articles/create" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input  class="form-control" id="title" name="title" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <textarea  class="form-control" id="content" name="content"></textarea>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{{>layouts/footer}}